    Options +FollowSymLinks  
    RewriteEngine On  

    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  


    RewriteRule ^user/([0-9a-zA-Z]+)$ Controller/UserController/RoutesUser.php?id=$1 [NC,L]
    RewriteRule ^user Controller/UserController/RoutesUser.php
